.row
  .span12
    .page
      = bootstrap_form_for(@project) do |f|
        = f.text_field :name, help_block: "Used to match reported builds to this project. Must be lowercase letters, numbers or underscore."
        = f.text_field :github_url
        .form-actions
          = submit_tag "Save", class: "btn btn-primary"
